<div class="containers d-flex flex-column justify-content-center align-items-center text-center flex-wrap pb-5 ">
    <div class="testimonial">
        <P class="title-text"> 
           Loved by Professionals Worldwide
        </P>
        <p class="body-text">
         Hear what our users are saying about their experience with Talent Boozt and how it
         transformed their career journeys.
        </p>     
    </div>
    <div class="cards m-1">
         <app-card2 *ngFor="let testimonial of testimonials"
         [name]="testimonial.name"
         [title]="testimonial.title"
         [quote]="testimonial.quote"
         ></app-card2>
       

    </div>
</div>