<div class="carousel">
    <div class="CarouselPh">
        <P class="CrPotencial">Unlock Your <span class="gradient-text">Career Potential</span><br/>Today</P>
        <p class="description">Talent Boozt provides the tools, insights, and connections you need to navigate
            <br/>the job market and land your dream role</p>
    </div>
    <div class="featurebtn">
        <button type="button" class="btn dcFeturesbtn ">Discover Features</button>
        <button type="button" class="btn demobtn">Book a Demo</button>
    </div>

    <div class="circle"></div>
    <div class="circle_2"></div>
</div>
