<app-navbar></app-navbar>
<main class="main-content">

    <section id="about" class="section">
        <app-about-us></app-about-us>
    </section>

    <section id="product" class="section">
        <app-product></app-product>
    </section>

    <section id="Service" class="section">
        <app-services></app-services>
    </section>

    <app-card-ad></app-card-ad>

    <section id="testimonial" class="section">
        <app-testimonials></app-testimonials>
    </section>

    <section id="contact" class="section">
        <app-contact></app-contact>
    </section>

    <app-footer></app-footer>

</main>