<div class="containers pb-5 ">
    <div class="product">
        <P class="title-text"> 
            Powerful Features to Boost Your Search
        </P>
        <p class="body-text">
            Discover the tools that make Talent Boozt the ultimate career companion. Each feature is
            crafted to give you a competitive edge.
        </p>     
    </div>
    <div class="cards p-2">
        <app-card
        *ngFor="let card of cards"
        [title]="card.title"
        [description]="card.description"
        [image]="card.image"
        [link]="card.link"
         [bgColor]="'var(--primary-bg-100)'"
        ></app-card>
       

    </div>
</div>