<div class="cards container-lg d-lg-flex  align-items-center justify-content-center text-start bg-light  shadow m-3">
    <div class="d-flex flex-column m-2 p-1">
    <div class="d-lg-flex flex-row ">
        <img class="p-2 w-25 img-fluid border-0  image " src="" alt="" srcset="">
        <div class="flex-row p-2 ">
            <h3 class="" >{{name}}</h3>
            <h5>{{title}}</h5>
        </div>
    </div>
        
    <div class="d-lg-flex flex-column">
        <p>{{quote}}</p>
    </div>
    
 </div>
</div>