.image {
  width: 30px;
  border-radius: 50%;
  

  @media (max-width: 768px) {
    width: 24px;
  }

  @media (max-width: 480px) {
    width: 20px;
  }
}

.cards {
  width: 400px;
  height: 232px;
  background-color: var( --primary-bg-100);
  color: var(--text-primary-color) ;
  border-radius: 10px;
  font-family: "Inter" , sans-serif;
  

  @media (max-width: 768px) {
    width: 90%;
    
  }

  @media (max-width: 480px) {
    width: 90%;
    height: auto;
  }
}
