/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color:#ab7abf;
    --secondary-color:#F9FAFB;


    --text-primary-color:#1F2937;
    --text-secondary-color:#F9FAFB;
    --text-third-color: #6B7280;

}