<nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm px-4">
  <div class="container-fluid d-flex justify-content-between align-items-center w-100">
    
   
    <a class="navbar-brand fw-bold" [routerLink]="[]" fragment="home">
        <img src="images/logo.png" alt="Talent Boozt" srcset="" class="img-fluid logoImg">
    </a>

    
    <div class="d-none d-lg-block flex-grow-1">
      <ul class="navbar-nav justify-content-center d-flex gap-3 m-0">
        <li class="nav-item ">
          <a class="nav-link custom-active" [routerLink]="[]" fragment="home" routerLinkActive="active"    [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]"  fragment="about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]" fragment="product" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]" fragment="Service" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]" fragment="testimonial" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]" fragment="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </li>
      </ul>
    </div>

   
    <div class="d-none d-lg-block">
        <a  routerLink="" >
      <button class="btn custom-button px-4">Get Started</button>
      </a>
    </div>
    
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<app-carousel></app-carousel>
