<nav class="navbar navbar-expand-lg  border-bottom shadow-sm px-4 navBar">
  <div class="container-fluid d-flex justify-content-between align-items-center w-100 ">
    
   
    <a class="navbar-brand fw-bold" [routerLink]="[]" fragment="home">
          <button class="btn ms-4 " id="theme-switch"  (click)="toggleTheme()" >
        <img *ngIf="isDarkMode; else lightlogo" src="logoLight.png" class="logoImg" />
        <ng-template #lightlogo>
          <img src="logo.png"  class="logoImg" />
        </ng-template>
      </button>
    </a>

    
    <div class="d-none d-lg-block flex-grow-1">
      <ul class="navbar-nav justify-content-center d-flex gap-3 m-0">
        <li class="nav-item custom-active ">
          <a class="nav-link fw-semibold navlink " [routerLink]="[]" fragment="home" routerLinkActive="active"    [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  " [routerLink]="[]"  fragment="about" >About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]" fragment="product" >Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]" fragment="Service" >Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]" fragment="testimonial" >Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="[]" fragment="contact" >Contact</a>
        </li>
      </ul>
    </div>

   
    <div class="d-none d-lg-block">
        <a  routerLink="" >
      <button class="btn custom-button px-4">Get Started</button>
      </a>
    </div>
    
<div class=" themeBtn">
        
      <button class="btn ms-4 " id="theme-switch"  (click)="toggleTheme()" >
        <img *ngIf="isDarkMode; else lightIcon" src="images/light.svg" width="24" height="24" />
        <ng-template #lightIcon>
          <img src="images/dark.svg" width="24" height="24" />
        </ng-template>
      </button>
     
    </div>
    
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation"
      (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<app-carousel></app-carousel>
